
<div *ngIf="!list">
    <span #loading>
         <ng-content select="[loading]"></ng-content>
    </span>
    <span *ngIf="!loading.innerHTML.trim()">
        <img 
            src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHgxNjJzYnFhY2w2a3VvM2VnMGozd2ZjZHUzODZpbTNkN3lucDJzayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjI6SIIHBdRxXI40/giphy.gif"
        />
    </span>

</div>

<div *ngIf="list?.length ===0">
    <span #empty>
         <ng-content select="[empty]"></ng-content>
    </span>
    <span *ngIf="!empty.innerHTML.trim()">
        There are no records to display
    </span>

</div>

<ng-container  *ngIf="list && list.length > 0">

<ng-content select="[content]"></ng-content>
</ng-container>